<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/evaluations']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <h2>Detail Evaluation</h2>
        <mat-card-content>
            <dl>
                <dt>Name:</dt>
                <dd>{{evaluation.name}}</dd>
            </dl>
        </mat-card-content>
        <mat-card-content>
            <dl>
                <dt>Description:</dt>
                <dd>{{evaluation.description}}</dd>
            </dl>
        </mat-card-content>
        <mat-card-content>
            <dl>
                <dt>Date:</dt>
                <dd>{{evaluation.date | date: 'dd/MM/yyyy'}}</dd>
            </dl>
        </mat-card-content>
        <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/evaluations-edit', evaluation.id]">
                <mat-icon>edit</mat-icon>
            </a>
            <a mat-flat-button color="warn" (click)="delete(evaluation.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>