<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/professors']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{Professor.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>Professor:</dt>
                <dd>{{Professor.name}}</dd>
            </dl>
        </mat-card-content>

        <!-- <mat-card-header>
            <mat-card-title>
                <h2>{{Professor.email}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.email}}</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
            <dl>
                <dt>email:</dt>
                <dd>{{Professor.email}}</dd>
            </dl>
        </mat-card-content>

        <!-- <mat-card-header>
            <mat-card-title>
                <h2>{{Professor.mobile}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.mobile}}</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
            <dl>
                <dt>mobile:</dt>
                <dd>{{Professor.mobile}}</dd>
            </dl>
        </mat-card-content>

        <!--<mat-card-header>
            <mat-card-title>
                <h2>{{Professor.shortCompetences}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.shortCompetences}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>shortCompetences:</dt>
                <dd>{{Professor.shortCompetences}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{Professor.curriculum}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.curriculum}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>curriculum:</dt>
                <dd>{{Professor.curriculum}}</dd>
            </dl>
        </mat-card-content>-->

        <!-- <mat-card-header>
            <mat-card-title>
                <h2>{{Professor.companyId}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{Professor.companyId}}</mat-card-subtitle>
        </mat-card-header> -->
        <mat-card-content>
            <dl>
                <dt>companyId:</dt>
                <dd>{{Professor.companyId}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/professors-edit', Professor.id]">
                <mat-icon>edit</mat-icon>
            </a>
            <a mat-flat-button color="warn" (click)="delete(Professor.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>