<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/professors']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <form [formGroup]="professorsForm" (ngSubmit)="onFormSubmit(professorsForm.value)">
            <mat-form-field class="component-full-width">
                <mat-select placeholder="companyType" formControlName="companyId" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let company of companys" [value]="company.id">{{company.name}}</mat-option>
                </mat-select>
                <mat-error>
                    <span *ngIf="!professorsForm.get('companyId').valid && professorsForm.get('companyId').touched">Please enter companyType</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Professor Name" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!professorsForm.get('name').valid && professorsForm.get('name').touched">Please enter Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Professor email" formControlName="email" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!professorsForm.get('email').valid && professorsForm.get('email').touched">Please enter email</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Professor mobile" formControlName="mobile" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!professorsForm.get('mobile').valid && professorsForm.get('mobile').touched">Please enter mobile</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!professorsForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>