<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/companys']">
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{company.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>Company:</dt>
                <dd>{{company.name}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.email}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>email:</dt>
                <dd>{{company.email}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.address}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.address}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>address:</dt>
                <dd>{{company.address}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.companyTypeId}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.companyTypeId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>companyTypeId:</dt>
                <dd>{{company.companyTypeId}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.personType}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.personType}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>personType:</dt>
                <dd>{{company.personType}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.phone}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.phone}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>phone:</dt>
                <dd>{{company.phone}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.mobile}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.mobile}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>mobile:</dt>
                <dd>{{company.mobile}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.documentRegion}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.documentRegion}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>documentRegion:</dt>
                <dd>{{company.documentRegion}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.socialId}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.socialId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>socialId:</dt>
                <dd>{{company.socialId}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>
                <h2>{{company.nationality}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{company.nationality}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <dl>
                <dt>nationality:</dt>
                <dd>{{company.nationality}}</dd>
            </dl>
        </mat-card-content>

        <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/companys-edit', company.id]">
                <mat-icon>edit</mat-icon>
            </a>
            <a mat-flat-button color="warn" (click)="delete(company.id)">
                <mat-icon>delete</mat-icon>
            </a>
        </mat-card-actions>
    </mat-card>
</div>