
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$filmes-primary: mat-palette($mat-indigo);
$filmes-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$filmes-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$filmes-theme: mat-light-theme($filmes-primary, $filmes-accent, $filmes-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($filmes-theme);

@import '~@angular/material/theming';
@include mat-core();


$mat-lime2: (
  50: #1f4490,
  100: #1f4490,
  200: #1f4490,
  300: #1f4490,
  400: #1f4490,
  500: #1f4490,
  600: #1f4490,
  700: #1f4490,
  800: #1f4490,
  900: #1f4490,
  A100: #1f4490,
  A200: #1f4490,
  A400: #1f4490,
  A700: #1f4490, 
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$my-app-primary: mat-palette($mat-lime2);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
