<div class="component-container mat-elevation-z8">
    <div class="component-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" (click)="evaluationDetails()">
            <mat-icon>info</mat-icon>
        </a>
    </div>
    <mat-card class="component-card">
        <form [formGroup]="evaluationsForm" (ngSubmit)="onFormSubmit(evaluationsForm.value)">
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!evaluationsForm.get('name').valid && evaluationsForm.get('name').touched">Please enter Company Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width">
                <input matInput placeholder="Evaluation Description" formControlName="description" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!evaluationsForm.get('description').valid && evaluationsForm.get('description').touched">Please enter description</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="component-full-width"> {{date}}
                <input matInput placeholder="Evaluation Date" formControlName="date" [errorStateMatcher]="matcher" [matDatepicker]="myPicker">
                <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
                <mat-datepicker #myPicker startView="year" [startAt]="startDate"></mat-datepicker>
                <mat-error>
                    <span *ngIf="!evaluationsForm.get('date').valid && evaluationsForm.get('date').touched">Please enter Date</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button type="submit" [disabled]="!evaluationsForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>